:root {
  --primary: #00426b;
  --secondary: #1693ec;
  --white: #ffffff;
  --sub-text: #adadad;
  --blue-background: #ecf6fd;
  --light-background: #d0e9fb3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--primary);
}

h1 {
  font-size: clamp(4rem, 4rem + 16 * (100vw - 375px) / 1065, 5.6rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(3.2rem, 3.2rem + 8 * (100vw - 375px) / 1065, 4rem);
}

h3 {
  font-size: clamp(2.4rem, 2.4rem + 4 * (100vw - 375px) / 1065, 2.8rem);
}

h4 {
  font-size: clamp(2rem, 2rem + 2 * (100vw - 375px) / 1065, 2.4rem);
}

h5 {
  font-size: clamp(1.6rem, 1.6rem + 2 * (100vw - 375px) / 1065, 2rem);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
ul li,
ol li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.ps-btn {
  padding: 1.2rem 2.4rem;
}
.ps-btn.ps-btn-filled {
  border-radius: 0.8rem;
}
.ps-btn.ps-btn-filled.ps-primary {
  background: var(--primary);
  color: var(--white);
}
.ps-btn.ps-btn-filled.ps-primary:hover {
  background: var(--white);
  color: var(--primary);
}
.ps-btn.ps-btn-filled.ps-secondary {
  background: var(--secondary);
  color: var(--white);
}
.ps-btn.ps-btn-filled.ps-secondary:hover {
  background: var(--white);
  color: var(--secondary);
}

.section-title {
  margin-bottom: 32px;
}
.section-title h1 + p,
.section-title h2 + p,
.section-title h3 + p,
.section-title h4 + p,
.section-title h5 + p {
  margin-top: 12px;
}

.section-gap {
  margin-bottom: 4.8rem;
}

.section-padding-y {
  padding: 4.8rem 0;
}

.footer-border {
  border-top: 1px solid var(--light-background);
}

.sm-text {
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 375px) / 1065, 1.4rem);
}

.footer-description-style {
  gap: 2rem;
}
.footer-description-style li a {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  gap: 0.8rem;
  color: var(--white);
}
.footer-description-style li a svg {
  fill: var(--secondary);
  height: 1.6rem;
}
.footer-description-style li a .plus-box {
  fill: var(--white);
}
.footer-description-style li:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .section-title {
    margin: 0 auto 48px;
  }
  .section-title h1 + p,
  .section-title h2 + p,
  .section-title h3 + p,
  .section-title h4 + p,
  .section-title h5 + p {
    margin-top: 16px;
  }
  .section-title.center {
    max-width: 1140px;
    text-align: center;
  }
  .section-gap {
    margin-bottom: 8rem;
  }
  .section-padding-y {
    padding: 8rem 0;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 50px;
    max-width: 1320px;
  }
  .section-gap {
    margin-bottom: 12rem;
  }
  .section-padding-y {
    padding: 12rem 0;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1636px;
  }
}
body {
  padding-top: 10px;
  background: var(--primary);
}

.footer-logo-phone {
  padding: 2rem 0;
}
.footer-logo-phone img {
  display: block;
  margin: 0 auto;
  max-width: 21.2rem;
  width: 100%;
  height: auto;
}

.footer-top .footer-top-wrapper .footer-partners {
  padding: 2rem 0;
}
.footer-top .footer-top-wrapper .footer-partners .ps-logo {
  max-height: 4.8rem;
  width: auto;
  height: 100%;
  display: none;
}
.footer-top .footer-top-wrapper .footer-partners .ps-partners {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.footer-top .footer-top-wrapper .footer-partners .ps-partners img {
  max-height: 3.2rem;
  height: 100%;
  width: auto;
}
.footer-top .footer-top-wrapper .footer-ps-details {
  margin: 4rem 0 2rem 0;
}
.footer-top .footer-top-wrapper .footer-ps-details .ps-guarentee-image {
  display: block;
  margin: 0 auto;
  max-width: 23.6rem;
  height: 100%;
}

.footer-menu .footer-menu-wrapper .footer-contacts {
  color: white;
}
.footer-menu .footer-menu-wrapper .footer-contacts .footer-contact-details {
  padding: 2rem 0;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.footer-menu .footer-menu-wrapper .footer-contacts .footer-contact-details h4 {
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-menu .footer-menu-wrapper .footer-contacts .footer-contact-details::after {
  content: " ";
  position: absolute;
  width: 26rem;
  height: 1px;
  background: var(--light-background);
  left: 0;
  bottom: 0;
}
.footer-menu .footer-menu-wrapper .footer-contacts .footer-locations {
  padding: 2.8rem 0;
}
.footer-menu .footer-menu-wrapper .footer-contacts .footer-locations div {
  margin-bottom: 2rem;
}
.footer-menu .footer-menu-wrapper .footer-contacts .footer-locations div h4 {
  margin-bottom: 1.2rem;
}
.footer-menu .footer-menu-wrapper .footer-contacts .footer-locations div:last-child {
  margin-bottom: 0;
}
.footer-menu .footer-menu-wrapper .footer-links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 4rem;
  padding: 2rem 0;
}
.footer-menu .footer-menu-wrapper .footer-links div {
  color: var(--white);
}
.footer-menu .footer-menu-wrapper .footer-links div h4 {
  margin-bottom: 1.2rem;
}
.footer-menu .footer-menu-wrapper .footer-links div strong {
  display: block;
  margin-bottom: 4rem;
}
.footer-menu .footer-menu-wrapper .footer-links div .text-bold-category {
  font-weight: 700;
}
.footer-menu .footer-menu-wrapper .footer-placeholder {
  padding: 2rem 0;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-placeholder-wrapper {
  padding: 2.4rem;
  border-radius: 1.6rem;
  color: var(--white);
  background: var(--secondary);
  max-width: 54rem;
  height: auto;
  position: relative;
  overflow: hidden;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-placeholder-wrapper img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-placeholder-wrapper h4,
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-placeholder-wrapper p {
  position: relative;
  z-index: 1;
  max-width: 21.2rem;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-placeholder-wrapper h4 {
  margin-bottom: 2rem;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-placeholder-wrapper p {
  margin-bottom: 7.6rem;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-socials {
  display: flex;
  justify-content: right;
  align-items: end;
  max-width: 54rem;
  gap: 2rem;
  margin-top: 2rem;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-socials svg {
  max-width: 2.4rem;
  width: 100%;
  height: auto;
}
.footer-menu .footer-menu-wrapper .footer-placeholder .footer-socials svg path {
  fill: var(--white);
}

.footer-bottom .footer-bottom-wrapper {
  color: var(--white);
  padding: 3.2rem 2rem;
  text-align: center;
}

@media (min-width: 576px) {
  .footer-menu .footer-menu-wrapper .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .footer-logo-phone {
    display: none;
  }
  .footer-top .footer-top-wrapper .footer-partners {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-top .footer-top-wrapper .footer-partners .ps-logo {
    display: inline-block;
    padding-right: 4rem;
    border-right: 1px solid var(--light-background);
  }
  .footer-bottom .footer-bottom-wrapper {
    margin-left: 2rem;
    padding: 4rem 0;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .footer-top .footer-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  .footer-top .footer-top-wrapper .footer-partners {
    padding: 0;
    justify-content: normal;
  }
  .footer-top .footer-top-wrapper .footer-ps-details {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .footer-top .footer-top-wrapper .footer-ps-details .ps-guarentee-image {
    margin: 0;
  }
  .footer-bottom .footer-bottom-wrapper {
    margin-left: 8rem;
  }
}
@media (min-width: 1200px) {
  .footer-menu .footer-menu-wrapper .footer-placeholder .footer-socials {
    margin-top: 6rem;
  }
  .footer-bottom .footer-bottom-wrapper {
    margin-left: 12rem;
  }
}
@media (min-width: 1440px) {
  .footer-menu .footer-menu-wrapper .footer-placeholder .footer-socials {
    margin-top: 8rem;
  }
}/*# sourceMappingURL=styles.css.map */